<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>LogIn</title>
</head>
<body>
<h1>LogIn</h1>
<div class="container unauthenticated" th:unless="${authenticated}">
    <a href="/login/facebook">click here</a>
</div>
<div class="container authenticated" th:if="${authenticated}">
    <div>
        <p>Logged in as:</p><p th:text="${name}">
    </div>
    <form action="/logout" method="post">
        <button type=submit>LogOut</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>